body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.kepala {
    color: saddlebrown;
    border: 1px solid;
    border-color: mediumseagreen;
    background-color: mediumspringgreen ;
    padding: 15px;
    margin: 10px;
}

.tai {
    color: brown;
    background-color: bisque;
}