/* Halo, ini adalah catatan belajar css saya, css ini akan menjadi source dari halaman belajar.html ya */
/* berikut adalah struktur dari penulisan CSS
   selektor {
        properti: nilai;
   }
*/

/* pada contoh di bawah ini, h6 dan p memiliki properti yang sama */
h6,p {
    color: rgb(82, 82, 82);
    font-size: 15px;
}

/* border memiliki rumus seperti ini : border A B C;
A adalah ukuran ketebalan bordernya
B adalah jenis dari border
C adalah warna dari border */
h4 {
    border: 1px solid mediumaquamarine;
    /* border-style: dashed; */
    /* border-top  : 1ch; */
    border-radius: 0%;
    border-width: 2px;
    /* border-color: mediumvioletred; */
}

/* garis border */
p.solid {border-style: solid;}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

/* posisi border */
p.top {border-top: 10px solid green;}

/* border radius memungkinkan untuk memperindah box seperti diberi lengkungan */
p.lengkungan {
    border: 2px solid saddlebrown;
    border-radius: 10px;
    text-align: center;
}

/* padding */
p.puding {
    border: 1px solid mediumblue;
    padding: 5px;
}

/* Setiap sisi, bisa mempunyai padding yang berbeda. Ada dua cara:
    memberi 4 nilai di padding
    memberi properti detail padding-(arah) */
.empat {
    border: 1px solid violet;
    padding: 10px 5px 2px 20px;
}
.semua {
    border: 1px solid purple;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
}
p.tengah {
    text-align: center;
}
p.gede {
    font-size: 300%;
}

/*   universal css, * memiliki arti bahwa semua elemen html diatur oleh * , contoh di bawah ini : */
/* * {
    font-size: 100%;
} */
/* penjelasan multiple stylesheet : 
jika ada banyak css, maka css yang dipanggil adalah yang paling terakhir atau paling bawah yang akan menimpa
data css sebelumnya. contoh, jika css internal ditulis di bawah link rel ="external.css" , maka yang internal 
lah yang akan dipanggil */
/* Urutan prioritas CSS : 
1. Inline style (inside an HTML element)
2. External and internal style sheets (in the head section)
3. Browser default */

/* Background */
/* background-color
background-image
background-repeat
background-attachment
background-position
background (shorthand property) */

.opacity {
    background-color: mediumaquamarine;
    opacity: 0.3;
}
/* catatan, jika kita memakai opacity maka tulisan di bawahnya akan mengikut dan membuat tulisan jadi susah dibaca */

/* contoh background repeat */
/* body {
    background-image: url(img/bg1.jpg);
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 500px;
} */

/* background attachment */
/* body {
    background-image: url(img/bg1.jpg);
    tetap
    background-attachment: fixed; 
    scroll
    background-attachment: scroll; 
} */

/* border-width */
p.borderwidth {
    border-style: solid;
    border-width: 5px 20px; /* 5px atas dan bawah, 20px kanan kiri */
  }

/* border-color */
p.solidgreen {
    border-style: solid;
    border-color: mediumseagreen;
  } 
  
  p.dottedblue {
    border-style: dotted;
    border-color: mediumblue;
  } 

/* individual side border */
p.individual {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
  }

  p.individual2 {
    border-style: dotted solid;
  }

  /* penjelasan : 
  jika ada 4  value seperti ini -> border-style: dotted solid double dashed;
    maka,       top border is dotted
                right border is solid
                bottom border is double
                left border is dashed

   jika ada 3 value seperti ini -> border-style: dotted solid double;
    maka,       top border is dotted
                right and left borders are solid
                bottom border is double

    jika ada 2 value seperti ini -> border-style: dotted solid;
    maka,       top and bottom borders are dotted
                right and left borders are solid
                If the border-style property has one value:

    jika ada 1 value seperti ini ->border-style: dotted;
    maka,       all four borders are dotted
*/

p.kiri {
    border-left: 6px solid tomato;
}

.hw {
    height: 30px;
    width: 50%;
    border: 5px solid saddlebrown;
}

/* outline, outline adalah garis di luar border */
p.dotted-o {outline-style: dotted;}
p.dashed-o {outline-style: dashed;}
p.solid-o {outline-style: solid;}
p.double-o {outline-style: double;}
p.groove-o {outline-style: groove;}
p.ridge-o {outline-style: ridge;}
p.inset-o {outline-style: inset;}
p.outset-o {outline-style: outset;}

/* outline width ada berbagai macam : thin,medium,thick atau specific size */
p.outline-w {
    border: 1px solid black;
    outline-style: solid;
    outline-color: mediumseagreen;
    /* outline-width: thin; */
    outline-width: medium;
    /* outline-width: thick; */
    /* outline-width: 6px; */
  }

/* outline ringkas */
p.outline-s {outline: thick ridge pink;}

/* outline offset, memberi jarak antar border */
p.offset {
    margin: 30px;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
  }

/* Text */
.text {
    text-align: center;
    text-transform: uppercase;
}
p.texto {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
}
a.texti {
    text-decoration: overline;
    color: royalblue;
}
p.text-a {
    text-align-last: right;
    text-align-last: left;
}

/* membuat text menjadi terbalik memakai direction rtl */
p.text-b {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

/* vertical align */
img.va {
    /* vertical-align: baseline; */
    /* vertical-align: text-top; */
    /* vertical-align: text-bottom; */
    /* vertical-align: sub; */
    vertical-align: super;
}

/* text-decoration */
p.text-d {
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-decoration: underline; */
    text-decoration: overline underline;
    text-decoration-color: red;
    /* text-decoration-style: dotted;  */
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
}
p.text-ds {
    text-decoration: underline burlywood dotted 2px;
}
a.tanpagaris {
    text-decoration: none;
    color: forestgreen;
}

/* transformation */
p.text-transform {
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* huruf kapital di depan kata */
    text-transform: capitalize;
}

/* spacing */
p.text-space {
    /* memberi jarak di awal kalimat */
    /* text-indent: 50px; */

    /* jarak antar huruf */
    /* letter-spacing: 3px; */

    /* jarak antar baris */
    /* line-height: 2.0; */

    /* jarak antar kata */
    word-spacing: 3px;

    /* spasi berlanjut terus-menerus */
    /* white-space: nowrap; */
}

/* text-shadow */
p.text-shadow {
    /* jika 2 seperti di bawah ini menunjukkan horizontal 3px vertical 2px */
    /* text-shadow: 3px 2px; */

    /* text shadow warna */
    /* text-shadow: 3px 2px red; */

    /* di bawah ini 5px adalah blur */
    /* text-shadow: 3px 2px 5px red; */

    /* contoh */
    /* color: white;
    text-shadow: 2px 2px 4px #000000;

    text-shadow: 0 0 3px #FF0000;

    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* fonts */
p.serif {
    font-family: 'Times New Roman', Times, serif;
}
p.s-serif {
    font-family: Arial, Helvetica, sans-serif;
}
p.monospace {
    font-family: 'Courier New', Courier, monospace;
}
p.cursive {
    font-family: "Brush Script MT", cursive;
}
p.fantasy {
    font-family: Copperplate, Papyrus, fantasy;
}
p.variant {
        font-variant: small-caps;
}

/* shorthand font */
p.font-s {
    font: 20px Arial, sans-serif;
    /* font: italic small-caps bold 12px/30px Georgia, serif; */
}

/* link */
/* a:link - a normal, link yang belum dikunjungi
a:visited - a link yang sudah dikunjungi user
a:hover - a link ketika cursor mengarah ke link tersebut
a:active - a link ketika diklik */

/* aturannya : 
a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover */

/* contoh css link warna, tampilan. dan warna background.
   di bawah ini sengaja dibuat class agar link lain tidak terdistrak  */

/* unvisited link */
a:link.link {
    color: red;
    text-decoration: none;
    background-color: yellowgreen;
  }
  
  /* visited link */
  a:visited.link {
    color: green;
    text-decoration: none;
    background-color: cyan;
  }
  
  /* mouse over link */
  a:hover.link {
    color: hotpink;
    text-decoration: underline;
    background-color: teal;
  }
  
  /* selected link */
  a:active.link {
    color: blue;
    text-decoration: underline;
    background-color: skyblue;
  }

  a:link.button, a:visited.button {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover.button, a:active.button {
    background-color: red;
  }

  a:link.button2, a:visited.button2 {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover.button2, a:active.button2 {
    background-color: green;
    color: white;
  }

  /* list */
  ul.a {
    list-style-type: circle;
  }
  
  ul.b {
    list-style-type: square;
  }
  ul.c {
    list-style-image: url('img/kotak.png');
  }

  ul.d {
    list-style-position: outside;
  }
  
  ul.e {
    list-style-position: inside;
  }

  /* contoh ul lainnya */
  ul.f {
    border-left: 5px solid red;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
  }

  ul.g{
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
  }
  
  ul.g li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
  }
  
  ul.g li:last-child {
    border-bottom: none
  }

  /* tabel */
  #tabel {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabel td, #tabel th {
    border: 1px solid #ddd;
    padding: 8px;
    /* contoh alignment */
    text-align: center;
    vertical-align: center;
  }
  
  /* tabel selang-seling warna background (zebra) */
  #tabel tr:nth-child(even){background-color: #f2f2f2;}
  
  /* tabel berwrna background ketika kursor diarahkan */
  #tabel tr:hover {background-color: coral;}
  
  #tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  /* tabel responsif */
  table.r {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  /* display */
  /* pada dasarnya html/css memiliki elemen inline dan blockline, dengan display kita bisa merubah yang tadinya ,inline 
  menjadi blockline dan sebaliknya   */
  /* ada beberapa atribut display diantaranya : block, none, hidden, dll */
  li.dis {
    display: inline;
  }

  /* posisi */
  /* bisa lihat disini : https://www.w3schools.com/css/css_positioning.asp */

  /* overflow */
  /* overflow digunakan untuk memerintahkan apa yang dapat dilakukan jika tampilan melebihi size pada elemen di web */
  /* contoh */
  div.ov {
    background-color: mediumspringgreen;
    width: 200px;
    height: 85px;
    border: 1px solid;
    /* overflow default biasanya visible, jadi melewati begitu saja */
    /* overflow: visible;  */
    /* overflow: scroll; */
    /* overflow: hidden; */
    overflow: auto;

    /* menghilangkan garis scroll horizontal */
    overflow-x: hidden;
    /* mengaktifkan garis scroll vertical */
    overflow-y: scroll;
  }

  /* float */
  /* ini biasanya gua gunain buat memposisikan elemen */
  img.f {
    float: right;
    width: 90px;
  }

  div {
    border: 3px solid #4CAF50;
    padding: 5px;
  }

  /* menghapus float sebelumnya dengan clear */
  .f1 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
  }
  
  .f2 {
    padding: 10px;
    border: 3px solid red;
  }
  
  .f3 {
    float: left;
    padding: 10px;  
    border: 3px solid #73AD21;
  }
  
  .f4 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
  }

  /* menghapus float dengan clearfix merubah overflow menjadi auto */
  .clearfix {
    overflow: auto;
  }

  /* clearfix yang lebih modern */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* beberapa contoh float */
  /* float menu */
  .box {
    float: left;
    width: 33.33%;
    padding: 50px;
  }

  /* float gambar */
  .img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* float nav */
  ul.fl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.fl {
    float: left;
  }
  
  li.fl a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.fl a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: red;
  }

  /* referensi float lainnya : https://www.w3schools.com/css/tryit.asp?filename=trycss_layout_cols */

  /* display */
  /* display inline dan inline-block */
  /* contoh nav menggunakan display inline-block */
  .nav {
    background-color: yellow; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

  /* css combinators */
/* ada 4 kombinator :
descendant selector (spasi) : contohnya seperti div p { ... } berarti css setiap p
child selector (>) : contohnya seperti div > p { ... } berarti css setiap p yang ada di dalam div
adjacent sibling selector (+) : contohnya seperti div + p { ... } berarti css p yang terdekat setelah div (hanya setelahnya saja)
general sibling selector (~) : contohnya seperti div ~ p { ... } css semua p setelah div  */

/* pseudo class : kelas semu (digunakan untuk menentukan keadaan khusus suatu elemen)*/
/* contoh */
.pseudo p {
  display: none;
  background-color: seagreen;
  color: #ddd;
  font-size: large;
  padding: 20px;
}
.pseudo:hover p {
  display: block;
}

/* contoh :first-child (digunakan untuk setiap elemen pertama) */
.fc p:first-child {
  color: burlywood;
}

.fcc p i:first-child {
  color: mediumseagreen;
} 

/* referensi pseudo class : https://www.w3schools.com/css/css_pseudo_classes.asp */

/* pseudo element : bedanya dari class dia memakai 2 titik 2 */
.ps p::first-line {
  color: rebeccapurple;
  font-variant: small-caps;
}
.ps p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

/* sebelum, bisa juga dengan sesudah (after) */
.ps h1::before {
  content: url(img/download.png);
}

/* marker (merubah elemen seperti ul ol li) */
::marker {
  color: #04AA6D;
}

/* selection (merubah text yang diblok) */
::selection {
  color: aquamarine;
  background: mediumseagreen;
}
/* referensi pseudo element : https://www.w3schools.com/css/css_pseudo_elements.asp */

/* opacity */
.opa img {
  opacity: 0.5;
}

.opa img:hover {
  opacity: 1.0;
}

/* opacity transparant box */
div.bg {
  background: url(img/nandoperd.png) repeat;
  border: 1px solid  burlywood;
  /* background-image: url(img/nandoperd.png); */
}
div.opac {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.6;
}
div.opac p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/* navbar */
/* referensi bisa dicek di : https://www.w3schools.com/css/css_navbar.asp */
ul.sticky {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* position: -webkit-sticky; Safari */
  position: sticky; /*posisi sticky untuk membuat menu akan tetap terlihat ketika discroll, bisa juga dengan position : fixed*/
  top: 0;
}

li.sticky {
  float: left;
}

li.sticky a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.sticky a:hover {
  background-color: skyblue;
}

.active {
  background-color: #4CAF50;
}

/* dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* css gallery images */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* yang responsif */
* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* refernsi image sprites : https://www.w3schools.com/css/css_image_sprites.asp */
/* image sprites biasanya digunakan untuk memanggil gambar/icon dengan id agar tidak banyak code */

/* referensi attribute selectors : https://www.w3schools.com/css/css_attribute_selectors.asp */
/* digunakan untuk mempersingkat code dengan mendeklarasikan atribut pada css */
/* contoh */
a[target="_blank"] {
  background-color: yellow;
} /*setiap target yang memiliki target blank akan berbackground kuning*/

/* form */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* form input menggunakan focus */
input[type=text]:focus {
  background-color: greenyellow;
}

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* menggunakan icon dan transition */
input[type=number] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('img/download.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=number]:focus {
  width: 100%;
}

/* css counter (untuk mengisi angka otomatis) */
body {
  counter-reset: section;
}

h6::before {
  counter-increment: section;
  content: "BAB " counter(section) ": ";
}
/*catatan : counter dari css ini berbeda dengan text lainnya, dia tidak bisa diblok*/

/* contoh css counter sub nomor */
/* body {
  counter-reset: section;
}

h4 {
  counter-reset: subsection;
}

h5::before {
  counter-increment: section;
  content: "Section " counter(section) ". ";
}

h4::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
} */
/* dikomen karena web ini sudah berantakan hehe nanti jadi ga rapih */

/* css specificity : jika ada 2 atau lebih css, maka yang terkuat yang akan dieksekusi */
/* spesifik css > css dalam head > css link */
/* id > class > css elemen pada head */
/* jika beberapa css memiliki kekuatan yang sama, css yang paling bawah yang akan dieksekusi  */

/* !important */
.imp {
  background-color: #04AA6D !important;
}

/* referensi math function  : https://www.w3schools.com/css/css_math_functions.asp */

/* rounded corners */
#rcorners {
  border-radius: 25px;
  background: url(img/kertas.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

#rcorners1 {
  border-radius: 15px 50px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
} 

#rcorners2 {
  border-radius: 50px / 15px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

#rcorners3 {
  border-radius: 50%;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;
  text-align: center;
} 

/* border images */
#borderimg { 
  border: 10px solid transparent;
  padding: 15px;
  /* border-image: url(img/border.png) 30 round; */
  /*stretch*/
  /* border-image: url(img/border.png) 30 stretch; */
  /* border-image: url(img/border.png) 50 round; */
  /* border-image: url(img/border.png) 20% round; */
  border-image: url(img/border.png) 30% round; 
}

/* multiple background */
/* background yang paling kiri adalah background terdepan */
#bekgrond {
  background-image: url(img/sad.png), url(img/NP.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}

#begron {
  background: url(img/smiling.png) left top no-repeat, url(img/sad.png) right bottom no-repeat, url(img/NP.png) left top repeat;
  padding: 15px;
  background-size: 50px, 130px, auto;
}

/* full background */
/* html { 
  background: url(img/NP.png) no-repeat center fixed; 
  background-size: cover;
} */

/* background clip */
#dortmund {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
}

/* referensi background lainnya : https://www.w3schools.com/css/css3_backgrounds.asp */

/* referensi color : https://www.w3schools.com/css/css3_colors.asp */

/* box shadow */
.boxsa { 
  box-shadow: 0px 0px 15px mediumaquamarine;
  border: 5px solid mediumseagreen;
  padding: 15px;
}

.boxsa2 {
  width: 300px;
  height: 100px;
  padding: 15px;
  /* background-color: coral; */
  /* box-shadow: 10px 10px; */
  /* dengan warna spesifik */
  /* box-shadow: 10px 10px lightblue;  */
  /* dengan efek blur */
  /* box-shadow: 10px 10px 5px lightblue; */
  /* mengatur radius shadow */
  /* box-shadow: 10px 10px 5px 12px lightblue; */
  /* merubah bayangan luar menjadi bayangan dalam menggunakan inset*/
  box-shadow: 10px 10px 5px lightblue inset;
}

/* multiple shadow */
#mulsa {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
  margin: 20px;
}

#mulsa2 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
  margin: 20px;
}

/* gradient background */
#grad {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(mediumseagreen, tomato);
}

#grad2 {
  height: 150px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, red, yellow, green);
}

#grad3 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(red, yellow, green);
}

#grad4 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(red, yellow, green, blue, black);
}

#grad5 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
  border-radius: 50%;
}

#grad6 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(from 90deg, red, yellow, green);
  border-radius: 50%;
}

#grad7 {
  height: 200px;
  width: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: repeating-conic-gradient(red 0deg 10deg, yellow 10deg 20deg, blue 20deg 30deg);
  border-radius: 50%;
}

/* referensi gradient background : https://www.w3schools.com/css/css3_gradients.asp */
